################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OneWeekend/.vs/OneWeekend
/OneWeekend/CsDemo/bin/Debug/netcoreapp3.1
/OneWeekend/CsDemo/obj
.vscode/settings.json
